{% extends 'base.html.twig' %}

{% block title %}Porgrammes{% endblock %}

{% block body %}
    <h3 class="title_progr" >Programme</h3>

<div class="container_prog" >   
    <div class="pro">
            <p class="title_tab">Lundi</p>
            <p  class="item_sport">1min Plank</p>
            <p class="item_sport"> 30s Russian Twist</p>
            <p class="item_sport">50 Crunches</p>
            <p class="item_sport">40 Climbers</p>
            <p class="item_sport">50 Squat</p>
    </div>
    <div class="pro">
        <p class="title_tab">Mercredi</p>
        <p  class="item_sport">Plank</p>
        <p class="item_sport">Russian Twist</p>
        <p class="item_sport">Crunches</p>
        <p class="item_sport">Climbers</p>
        <p class="item_sport">Squat</p>
    </div>
    <div class="pro">
        <p class="title_tab">Vendredi</p>
        <p  class="item_sport">Plank</p>
        <p class="item_sport">Russian Twist</p>
        <p class="item_sport">Crunches</p>
        <p class="item_sport">Climbers</p>
        <p class="item_sport">Squat</p>
    </div>
</div>  
   
{% endblock %}
