{% extends 'base.html.twig' %}

{% block title %}Porgrammes{% endblock %}

{% block body %}
    <h3 class="title_progr" >Programmes</h3>

<div class="container_prog" >   
    <div class="pro">
            <p class="title_tab">Lundi x3</p>
            <p  class="item_sport">1min Plank</p>
            <p class="item_sport"> 30s Russian Twist</p>
            <p class="item_sport">2min Crunches</p>
            <p class="item_sport">40s Climbers</p> 
            <p class="item_sport">50s Squat</p>
    </div>
    <div class="pro">
        <p class="title_tab">Mercredi x3</p>
        <p  class="item_sport">1min Plank</p>
        <p class="item_sport">30s Russian Twist</p>
        <p class="item_sport">2min Crunches</p>
        <p class="item_sport">40s Climbers</p>
        <p class="item_sport">50s Squat</p>
    </div>
    <div class="pro">
        <p class="title_tab">Vendredi x3</p>
        <p  class="item_sport">1min Plank</p>
        <p class="item_sport">30s Russian Twist</p>
        <p class="item_sport">2min Crunches</p>
        <p class="item_sport">40s Climbers</p>
        <p class="item_sport">50s Squat</p>
    </div>
</div>  
   
{% endblock %}
